
.container {
  background-color: #F5F9FF;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  form {
    width: 600px;
  }

}
